body {
    background-color: rgb(142, 144, 86);
    text-align: justify;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: dimgrey;
    text-align: center;
    border: 5px double #5A4641;
    padding: 50px;
    margin: 50px;
}

h4{
    color: blue;
}

p {
    font-size: 30px;
}

span{
    font-size: medium;
    color: rgb(64, 75, 198)
}

#imagem1{
    border: 5px solid #5A4641;
    width: 50px;
    height: 100px;
}

#imagem2{
    border: 20px solid #5A4641;
    width: 50px;
}

.imagem{
    width: 50px;
    height: 30px;   
}

li::marker{
    content: "\1F3AE";
    color: black;
    font-size: 30px;
}

.itens{
    background-color: black;
    color: red;
}

ul{
    display: inline-block;
    margin: 2%;
    vertical-align: top;
    list-style: none;
}
